In [5]:
import pandas as pd

In [7]:
# Reference the file where the CSV is located
poll_path_csv = "election_data.csv"

# Import the data into a Pandas DataFrame
poll_df = pd.read_csv(poll_path_csv)
poll_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [8]:
poll_df["Voter ID"].count()

3521001

In [9]:
voter_count= poll_df["Voter ID"].count()

In [11]:
Election_Results= pd.DataFrame({"Total Votes":[voter_count]})
Election_Results

   Total Votes
0      3521001

In [13]:
candidate_count= poll_df["Candidate"].unique()
candidate_count

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [15]:
Candidates_counts = poll_df["Candidate"].value_counts()
Candidates_counts

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [21]:
Candidate_percentages= (poll_df["Candidate"].value_counts()/poll_df["Candidate"].count())*100

Candidate_percentages

Khan        63.000011
Correy      19.999994
Li          13.999996
O'Tooley     2.999999
Name: Candidate, dtype: float64

In [48]:
print("Election Results")
print("-------------------")
print(f"{(Candidate_percentages)}")

print(f"{(Candidates_counts)}")

print(f"Winner : Khan!!!")

Election Results
-------------------
Khan        63.000011
Correy      19.999994
Li          13.999996
O'Tooley     2.999999
Name: Candidate, dtype: float64
Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64
Winner : Khan!!!